*{
    margin: 0;
    padding: 0;
}

ul{
    display: inline-block;
    background-color: aqua;
    text-align: center;
    margin: 10px;
}
ul li a{
    text-align: center;
    margin: 20px;
    color: red;
}
li{
    text-align: center;
    margin: 20px;
}